@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "glitch";
    src: url("/SDGlitch_Demo.ttf") format("truetype");
}

@font-face {
    font-family: "teko";
    src: url("/Teko-SemiBold.ttf") format("truetype");
}

.typing-text {
    font-family: "glitch";
}

#root {
    background-color: black;
    color: white;
}

.main {
    background: rgba(0, 0, 0, 0.436);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#about {
    background: rgba(74, 74, 74, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#about-title {
    font-family: "teko";
}
